.marquee-w {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    font-family: 'poppinsbold';
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 90px;
    font-size: 30px;
    animation: marquee 10s linear infinite;
}
.marquee2 span {
    animation-delay: 5s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
@media (max-width:768px) {
    .marquee-w{
        width: 100%;
    }
}
@media (max-width:420px) {
    .marquee span{
      font-size: 20px;
      animation: marquee 8s linear infinite;
    }
    .marquee2 span {
        animation-delay: 4s;
    }
}