@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  width: 100.5%;
  height: 100%;
  background-color: #010026;
  background-image: url("./assets/ultra-detailed-nebula-abstract-wallpaper-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Add this line to fix the background */
  scroll-behavior: smooth;
  scrollbar-width: 5px;
}
::-webkit-scrollbar {
  width: 3px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: rgb(97, 97, 178);
}

::-webkit-scrollbar-thumb {
  background: rgb(184, 73, 33);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 40, 130);
}
::-webkit-scrollbar {
  border: 1px solid red;
}
::-webkit-scrollbar-corner {
  background: red;
}
* {
  scrollbar-width: none;
}



